h1{
    text-align:center;
    font-size: 60px;
    display: inline
  }
  button{
    padding: 30px;
    font-size:30px;
    color:  white;
    margin-left:40px;
    background-color:green;
    border-radius:30px
  }
  #text{
    font-size:40px;
    color: red
  }
  #p1{
    font-size:72pt;
    color:red
  }
  
  #p2{
    font-size:56pt;
    color:blue
  }
  
  #p3{
    font-size:48pt;
    color:green
  }
  
  #p4{
    font-size:38pt;
  }
  
  #p5{
    font-size:38pt;
  }
  
  #p6{
    font-size:38pt;
  }
  
  #p7{
    font-size:38pt;
  }
  #p8{
    font-size:38pt;
  }
  #p9{
    font-size:38pt;
  }
  #p10{
    font-size:38pt;
  }